<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hercules">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Splash screen -->
        <!-- Launch Activity is splash screen -->
        <activity android:name=".SplashScreen.SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".Firestore.CheckUserInFireStore"
            android:screenOrientation="portrait"/>
        <activity android:name=".SettingsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Trading"
            android:screenOrientation="portrait"/>
        <activity android:name=".LoginAndRegister.AccountInfo"
            android:screenOrientation="portrait"/>
        <activity android:name=".Information.ShippingAndDeliveryPolicyActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Information.TermsAndConditionsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Information.ReturnPolicyActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Information.AboutUsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Information.PrivacyPolicyActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".FullOrderDetails"
            android:screenOrientation="portrait"/>
        <activity android:name=".MyOrders.MyOrders"
            android:screenOrientation="portrait"/>
        <activity android:name=".OrderActivities.OrderDoneActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".OrderActivities.ConfirmationActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Cart.CartActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Products.ProductShowcase"
            android:screenOrientation="portrait"/>
        <activity android:name=".MyOrders.DetailedOrdersActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Home.HomeActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".LoginAndRegister.LoginActivity"
            android:windowSoftInputMode="adjustResize" />

        <activity android:name=".LoginAndRegister.LoginSlider"
            android:screenOrientation="portrait"/>


        <service android:name=".Service.MyFirebaseIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANT_ID_EVENT"/>
            </intent-filter>
        </service>

        <service android:name=".Service.MyFirebaseMessaging">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
    </application>

</manifest>